<app-menu-desktop></app-menu-desktop>
<app-nav></app-nav>

<!-- contact form -->
<form [formGroup]="contact" class="formContact">
  <p class="h5 text-center mb-4">Write to us</p>

  <div class="md-form">
    <i class="fa fa-user prefix grey-text"></i>
    <input type="text" id="contactFormName" formControlName="contactFormName" class="form-control" mdbInputDirective>
    <label for="contactFormName">Your name</label>
  </div>

  <div class="md-form">
    <i class="fa fa-envelope prefix grey-text"></i>
    <input type="email" id="contactFormEmail" formControlName="contactFormEmail" class="form-control" mdbInputDirective>
    <label for="contactFormEmail">Your email</label>
  </div>

  <div class="md-form">
    <i class="fa fa-tag prefix grey-text"></i>
    <input type="text" id="contactFormSubject" formControlName="contactFormSubject" class="form-control" mdbInputDirective>
    <label for="contactFormSubject">Subject</label>
  </div>

  <div class="md-form">
    <i class="fa fa-pencil prefix grey-text"></i>
    <textarea type="text" id="contactFormMessage" formControlName="contactFormMessage" class="md-textarea" style="height: 100px"
    mdbInputDirective></textarea>
    <label for="contactFormMessage">Your message</label>
  </div>

  <div class="text-center">
    <button class="btn btn-unique waves-light" mdbWavesEffect>Send
      <i class="fa fa-paper-plane-o ml-1"></i>
    </button>
  </div>
</form>
<!-- contact form -->



<!-- <form class="form" action="" (ngSubmit)="OnSubmit(f)" #f="ngForm">
    <div class="container">
        <div class="field">
            <label class="label">Nom :</label>
            <div class="control">
                <input class="input" type="text" placeholder="Nom">
            </div>
        </div>
        <div class="field">
            <label class="label">Prénom :</label>
            <div class="control">
                <input class="input" type="text" placeholder="Prénom">
            </div>
        </div>
        <div class="field">
            <label class="label">Email :</label>
            <div class="control">
                <input class="input" type="email" placeholder="Email">
            </div>
        </div>
        <div class="field">
            <label class="label">Téléphone :</label>
            <div class="control">
                <input class="input" type="tel" placeholder="Téléphone">
            </div>
        </div>
        <div class="field">
            <label class="label">Message :</label>
            <div class="control">
                <input type="textarea" class="textarea" name="" value="">
            </div>
        </div>
        <div class="field is-grouped">
            <div class="control">
                <button type="submit" class="button is-link" [disabled]="f.invalid">Envoyer</button>
            </div>
        </div>
    </div>
</form> -->
<!-- <iframe class="mail col-12" src="http://localhost:8080" scrolling="no" frameborder="0" style="border:none; overflow:hidden;" allowTransparency="true"></iframe> -->
<app-footer></app-footer>
