@media screen and (min-width: 1px) and (max-width: 499px) {
    app-menu-desktop{
        display: none;
    }
}
@media screen and (min-width: 500px) and (max-width: 1500px) {
    .container{
        margin-top: 10%;
    }
}
@media screen and (min-width: 1501px) and (max-width: 10000px) {
    nav{
        display: none;
    }
}
