<app-menu-desktop></app-menu-desktop>
<app-nav></app-nav>
<div class="titre title column is-12 has-text-centered animated fadeIn">
    {{titre1}}
</div>
<div class="main">
    <div class="columns">
        <div class="animated fadeInLeft column is-offset-1 is-5 has-text-centered projet1 projet">
        <a href=""><div class="image"></div></a>
            <div class="overlay">
                <div class="text">
                    <p class="titreProjet">{{titrep1}}</p>
                    <p class="descriptionProjet">{{descriptionp1}}</p>
                    <!-- <a class="button is-outlined is-dark">{{btn}}</a> -->
                </div>
            </div>
        </div>
        <div class="animated fadeInRight column is-5 has-text-centered projet2 projet">
        <a href=""><div class="image"></div></a>
            <div class="overlay">
                <div class="text">
                    <p class="titreProjet">{{titrep2}}</p>
                    <p class="descriptionProjet">{{descriptionp2}}</p>
                    <!-- <a class="button is-outlined is-dark">{{btn}}</a> -->
                </div>
            </div>
        </div>
    </div>
    <div class="columns rang2">
        <div class="animated fadeInLeft column is-offset-1 is-5 has-text-centered projet3 projet">
        <a href=""><div class="image"></div></a>
            <div class="overlay">
                <div class="text">
                    <p class="titreProjet">{{titrep3}}</p>
                    <p class="tp">{{tp1}}</p>
                    <p class="descriptionProjet">{{descriptionp3}}</p>
                    <!-- <a class="button is-outlined is-dark">{{btn}}</a> -->
                </div>
            </div>
        </div>
        <div class="column animated fadeInRight is-5 has-text-centered projet4 projet">
        <a href=""><div class="image"></div></a>
            <div class="overlay">
                <div class="text">
                    <p class="titreProjet">{{titrep4}}</p>
                    <p class="tp">{{tp2}}</p>
                    <p class="descriptionProjet">{{descriptionp4}}</p>
                    <!-- <a class="button is-outlined is-dark">{{btn}}</a> -->
                </div>
            </div>
        </div>
    </div>
    <div class="columns rang2">
        <div class="column animated fadeInLeft is-offset-1 is-5 has-text-centered projet5 projet">
        <a href=""><div class="image"></div></a>
            <div class="overlay">
                <div class="text">
                    <p class="titreProjet">{{titrep5}}</p>
                    <p class="tp">{{tp3}}</p>
                    <p class="descriptionProjet">{{descriptionp5}}</p>
                    <!-- <a class="button is-outlined is-dark">{{btn}}</a> -->
                </div>
            </div>
        </div>
        <div class="column animated fadeInRight is-5 has-text-centered projet6 projet">
        <a href=""><div class="image"></div></a>
            <div class="overlay">
                <div class="text">
                    <p class="titreProjet">{{titrep6}}</p>
                    <p class="tp">{{tp4}}</p>
                    <p class="descriptionProjet">{{descriptionp6}}</p>
                    <!-- <a class="button is-outlined is-dark">{{btn}}</a> -->
                </div>
            </div>
        </div>
    </div>
</div>
<div class="divider"></div>
<div class="titre title column is-12 has-text-centered pperso animated fadeIn">
    {{titre2}}
</div>
<div class="main">
    <div class="columns rang2">
        <div class="column animated fadeInLeft is-offset-1 is-5 has-text-centered projet5 projet">
        <a href=""><div class="image"></div></a>
            <div class="overlay">
                <div class="text">
                    <p class="titreProjet">{{titrep7}}</p>
                    <p class="descriptionProjet">{{descriptionp7}}</p>
                    <!-- <a class="button is-outlined is-dark">{{btn}}</a> -->
                </div>
            </div>
        </div>
        <div class="column animated fadeInRight is-5 has-text-centered projet6 projet">
        <a href=""><div class="image"></div></a>
            <div class="overlay">
                <div class="text">
                    <p class="titreProjet">{{titrep8}}</p>
                    <p class="descriptionProjet">{{descriptionp8}}</p>
                    <!-- <a class="button is-outlined is-dark">{{btn}}</a> -->
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
