<app-menu-desktop></app-menu-desktop>
<app-nav></app-nav>
<div class="container haut has-text-centered animated fadeIn">
    <div class="columns is-vcentered">
        <div class="column">

        </div>
        <div class="column animated fadeInLeft">
            <img class="imgmoi" src="assets/img/moi.png" alt="logo" height="40%" width="40%">
        </div>
        <div class="animated fadeInRight column is-size-3-mobile is-size-2-tablet is-size-1-desktop is-size-1-fullhd">
            <div class="hello">{{hello}}</div>
            <div class="dia">{{dia}}</div>
            <div class="bjr">{{bjr}}</div>
        </div>
        <div class="column">

        </div>
    </div>
</div>
<div class="container has-text-centered animated slideInUp">
    <div class="column texte">
        <p class="texteintro">{{texte1}}</p>
        <p class="techno">{{texte2}}</p>
        <p class="tech">{{techno}}</p>
        <p class="textintro">{{texte3}}</p>
    </div>
</div>
<app-footer></app-footer>
