/* You can add global styles to this file, and also import other style files */
body{
    /* background-image: url("assets/img/back9.jpg");
    background-attachment: fixed; */
}
.all{
/*    background-image: url("assets/img/tri.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;*/
}
