<div class=" hero is-fullheight">
    <div class="hero-body ">
        <div class="container has-text-centered">
            <div class="">
                <div class="is-size-3-mobile is-size-2-tablet is-size-1-desktop is-size-1-fullhd">
                    Error 404 : La page que vous chercher n'existe pas.
                </div>
                <div class="">
                    <a [routerLink]="['/a-propos']"><img class="" src="assets/img/logo3.png" alt="logo" height="30%" width="30%"></a>
                </div>
        </div>
    </div>
</div>
