<div class=" hero is-fullheight">
    <div class="hero-body ">
        <div class="container has-text-centered">
            <div class="columns is-vcentered">
                <div class="column is-size-3-mobile is-size-2-tablet is-size-1-desktop is-size-1-fullhd">
                    {{prenom}}
                </div>
                <div class="column">
                    <a [routerLink]="['/a-propos']"><img class="" src="assets/img/logo3.png" alt="logo" height="60%" width="60%"></a>
                </div>
                <div class="column is-size-3-mobile is-size-2-tablet is-size-1-desktop is-size-1-fullhd">
                    {{nom}}
                </div>
            </div>
        </div>
    </div>
</div>
